# This assumes you have installed OGGM and DTCG's dependencies
# If not, use requirements.yml or pyproject.toml
fastapi[standard]
panel[fastapi]
dtcg @ https://github.com/DTC-Glaciers/dtcg@main
oggm @ https://github.com/gampnico/oggm@feat-dtcg
param
bokeh
holoviews
geopandas
# used fo tests
pytest
numpy
matplotlib
